body {
  padding: 3mm;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6cf;
}

#root {
  display: flex;
  justify-content: center;
}

