.posts-main form input {
  padding: 0.6em;
  font-size: 1em;
  border: 2px solid white;
  outline: 0;
  width: 30em;
}
.posts-main form button {
  padding: 0.6em;
  font-size: 1em;
  margin: 0.8em;
  background-color: #7615e6;
  color: white;
  border: #000000;
}
.posts-main form button:hover {
    background-color: #003399; 
    cursor: pointer;
    border: #003399;
  }